.mat-table {
    width: 100%;
    box-shadow: none;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
  }

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: stretch;
}

.mat-column-icons {
    text-align: right;
    justify-content: flex-end;
}

.mat-row .mat-icon {
    visibility: hidden;
}

.mat-row:hover .mat-icon {
    visibility: visible;
}

.mat-row:hover .mat-icon {
    visibility: visible;
}