.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-form {
    min-width: 30ch;
}

.prompt-form {
    min-width: 50ch;
}

.container {
    width: 90%;
    margin-left: 5%;
}